div {
    background-color: slategray;
    color: white;
}

#p4 {
    background-color: midnightblue;
    color: white;
}
.maedaclass{
    background-color: aquamarine;
    color: black;
    text-align: center;

}    
.p{
   background-color: grey;
   color: white;
}
